doctype html
html
	head
		title map
		style.
			html, body {
			height: 100%;
			}
			body {
			margin: 0;
			background: #E5E0D9;
			}
			svg {
			display: block;
			overflow: hidden;
			width: 100%;
			height: 100%;
			}
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript', src='javascripts/polymaps.min.js')
		script(type='text/javascript', src='javascripts/nns.min.js')
	body
		script(type='text/javascript', src='javascripts/maps.js')

