doctype html
html
	head
		title map
		style.
			html, body {
			height: 100%;
			}
			body {
			margin: 0;
			background: #E5E0D9;
			}
			svg {
			display: block;
			overflow: hidden;
			width: 100%;
			height: 100%;
			}
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript', src='/polymaps.min.js')
		script(type='text/javascript', src='/nns.min.js')
		//
			<script src="/gmaps.js"></script>
			<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXfxVdmoTiv3e_RQLzJJjLCtG-vmWcIE&libraries=drawing&callback=initialize"></script>
	body
		script(type='text/javascript', src='/maps.js')

